<ion-menu [content]="mainContent">
	<ion-header>
		<ion-toolbar color="lcblue">
			<ion-title> Menu </ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content id="side-menu21" class="menu-content">
		<ion-list id="menu-list1">
			<!--Do NOT use (tap) the menu will not close properly USE (click) -->
			<ion-item menuClose color="positive" (click)="goToHome()" id="menu-list-item1">Home
				<ion-icon name="home" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToLoginNoReuse()" id="menu-list-item2" *ngIf="isGuest()">Login
				<ion-icon name="person" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToCalendar()" id="menu-list-item9">Events
				<ion-icon name="calendar" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToNews()" id="menu-list-item3">News
				<ion-icon name="notifications" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToCampusMap()" id="menu-list-item4">Campus Map
				<ion-icon name="pin" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToClassSchedule()" id="menu-list-item5" *ngIf="isCredentialed()">Class Schedule
				<ion-icon name="list-box" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToTutoring()" id="menu-list-item7">Free Tutoring
				<ion-icon name="bookmark" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToBuildingHours()" id="menu-list-item8"> Building Hours
				<ion-icon name="time" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="logout()" id="menu-list-item2" *ngIf="isCredentialed()">Logout
					<ion-icon name="person" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" id="menu-list-item10">
				<a href="tel:2087922226">Call Security</a>
				<ion-icon name="call" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" id="menu-list-item12">
				<a>
					<ion-icon name="logo-facebook" item-left (click)="openFacebook()"></ion-icon>
					<ion-icon name="logo-twitter" item-left (click)="openBrowser('https://twitter.com/LCSC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor')"></ion-icon>
					<ion-icon name="logo-instagram" item-left (click)="openBrowser('instagram://user?username=lewisclarkstate')"></ion-icon>
					<ion-icon name="logo-snapchat" item-left (click)="openBrowser('https://www.snapchat.com/add/lewisclarkstate')"></ion-icon>
				</a>
			</ion-item>
			
		</ion-list>

	
	</ion-content>
	<ion-footer>
		
	</ion-footer>
</ion-menu>
<ion-nav #mainContent [root]="rootPage"></ion-nav>