<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Class Schedule
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">

  <div id="schedule">
    <h1>Class Schedule</h1>
    <ion-list>
        <ion-item *ngFor="let item of scheduleItems">
          <h2>{{item.courseTitleDisplay}}</h2>
          <h4>{{item.courseName}}</h4>
          <ion-item *ngFor="let meet of item.meets">
            <h4>{{meet.Room}}</h4>
            <h4>{{meet.StartTime}}</h4>
            <h4>{{meet.EndTime}}</h4>
            <h4 *ngFor="let day of meet.Days">
              {{mapDay(day)}}
            </h4>
          </ion-item>
        </ion-item>
    </ion-list>
  </div>

</ion-content>
