page-tutoring {}
#segmentlabel{
    font-size: 1.5em;
    text-align: center;
    text-decoration: bold;
    margin: auto;
    padding-bottom: 1em;
}
#dropdownlabel{
    font-size: 1em;
    text-align: left;
    margin-top: 10;
    padding-top: 1em;
}
#times{
    white-space: pre-wrap !important;
    float: left;
    color: black;
    line-height: 1.5;
    font-size: 1.25em;
}