<ion-header>
	<ion-toolbar color="lcblue"> <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>

    </button>
		<ion-title> Tutoring </ion-title>
	</ion-toolbar>
</ion-header>

<!-- edit by casey: adding the viewchild to the ion-segment -->
<ion-content padding id="page7" >
	<div>
		<ion-segment  [(ngModel)] = "Tutoring">
			<ion-segment-button value = "Classes" (ionSelect)="selection='Class'; isSubmitted=false" #pills>
				<ion-label id = "segmentlabel">Classes</ion-label>
			</ion-segment-button>
			<ion-segment-button value = "Tutors" (ionSelect)="selection='Tutor'; isSubmitted=false">
				<ion-label id = "segmentlabel">Tutors</ion-label>
			</ion-segment-button>
		</ion-segment>
	</div>
	<br>
	<div [ngSwitch] = "Tutoring">
		<form #f="ngForm" (ngSubmit)="Submit(f)">
			<ion-list *ngSwitchCase = "'Classes'">
					<ion-item>
							<ion-label id = "dropdownlabel">Select Class</ion-label>
							<ion-select name="class" [(ngModel)]="classKey" (ionChange)="Submit(f)">
								<ion-option *ngFor="let class of ClassList;" [value]="category">{{class.name}}</ion-option>
							</ion-select>
						</ion-item>
			</ion-list>
			<ion-list *ngSwitchCase = "'Tutors'">
					<ion-item>
							<ion-label id = "dropdownlabel">Select Tutor</ion-label>
							<ion-select name="tutor" [(ngModel)]="tutorKey" (ionChange)="Submit(f)">
								<ion-option *ngFor="let tutor of TutorList;" [value]="name">{{tutor.name}}</ion-option>
							</ion-select>
					</ion-item>
			</ion-list>
			<p> <b>Note: * denotes offers online tutoring</b> </p>
		</form>
	</div>
    <div *ngIf="isSubmitted">
			<h1>
				  {{ListName}}
			</h1>
			<ion-list>
				<ion-item *ngFor="let slot of Time;"><p id="times">{{slot}}</p></ion-item>
			</ion-list> <button ion-button full *ngIf="isOnline">Book Online Session</button>
	</div>
    
</ion-content>
