[Desktop Entry]
Encoding=UTF-8
Name=Link to tutoring.ts
Type=Link
URL=https://github.com/lcsc-capstone/lcsc-ionic-app/blob/Cassie-Tutoring/src/pages/tutoring/tutoring.ts
Icon=text-html
