page-campus-map {
html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    overflow: auto;
}
iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: calc(100vh - 57px);
	}
}
