page-home {

    overflow: hidden;

   .addToCalendar {
		color: #000;
		font-size: 12pt;
	}
  
	.calendarIcon {
		margin-right: 5px;
    }

	.titleControl {
		margin: 5px;
	}
	
    #bg-img {
        width: 100%;
    }

    .banner {
        position: absolute;
        top: 0;
        width: 100%;
        margin-top: 14vh;
    }
    .interlock-Img {
        width:20px;
        height:25px;
    }
    ion-content {

        button {
            border-radius: 0;
            height: 3em;
            background-color: #003865;
            font-size: 16px;
            width: 93%;
            color: white;
            margin: 0 auto;
            display: block;

            ion-icon {
                padding-right: .5em;
            }
        }
    }

    #home-schedule {
        margin: -.5em 0 -1.5em 0;
        padding: 0 .75em .5em .75em;

        #item-top {
            margin-top: 0;
        }
        h2 {
            color: #003865;
            padding-bottom: .4em;
            font-size: 11pt;
            font-weight: normal;
        }
    }

    #home-news {
        background-color: #F0F0F0;
        margin: -.6em 0 -.6em 0;
        padding: 0 .75em 0 .75em;
        padding-bottom: 1em;

        h1 {
            font-weight: 400;
            color: #E10000;
            padding-top: .3em;
        }

        ion-item {
            background-color: #F0F0F0;
        }

        h2 {
            color: #003865;
            padding-bottom: .4em;
            font-size: 11pt;
            font-weight: normal;
        }

        ion-list {
            margin-bottom: -1.75em;
        }

        #home-list-item29 {
            margin-bottom: 2em;
        }

        button {
            width: 100%;
        }
    }

    #home-calendar {
        background-color: white;
        margin: -.6em 0 -.6em 0;
        padding: 0 .75em 0 .75em;
        padding-bottom: 1em;

        h1 {
            font-weight: 400;
            color: #E10000;
            padding-top: .3em;
        }

        ion-item {
            background-color: white;
        }

        h2 {
            color: #003865;
            padding-bottom: .4em;
            font-size: 11pt;
            font-weight: normal;
        }

        ion-list {
            margin-bottom: -1.75em;
        }

        #home-list-item29 {
            margin-bottom: 2em;
        }

        button {
            width: 100%;
        }
    }

    #home-academic {
        background-color: #F0F0F0;
        margin: -.6em 0 -.6em 0;
        padding: 0 .75em 0 .75em;
        padding-bottom: 1em;

        h1 {
            font-weight: 400;
            color: #E10000;
            padding-top: .3em;
        }

        ion-item {
            background-color: #F0F0F0;
        }

        h2 {
            color: #003865;
            padding-bottom: .4em;
            font-size: 11pt;
            font-weight: normal;
        }

        ion-list {
            margin-bottom: -1.75em;
        }

        #home-list-item29 {
            margin-bottom: 2em;
        }

        button {
            width: 100%;
        }
    }

    #home-resources {
        h1 {
            padding-left: .3em;
        }

        button {
            margin-bottom: .6em;
        }
    }
}
