<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Home
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content id="page1" no-bounce>

  <img src="assets/img/2.jpg" id="bg-img" />
	<img src="assets/img/KeUE2yRrSZargS3WNNyZ_IdC9YeIZTByelse8HT0l_Flag-Rich-Blue-White.png" class="banner" />

	<div id="home-schedule">
		<h1 id="home-heading">Here's Today...</h1>
		<ion-list id="schedule_list">
			<ion-item *ngFor="let item of scheduleItems">
				{{item}}
			</ion-item>
		</ion-list>
	</div>

	<button class="button2" on-click="goToClassSchedule()">
		<ion-icon name="list-box"></ion-icon>
		View Full Schedule
	</button>

	<div id="home-news">
    <h1 id="home-heading3" style="color:#E10000;">
			Events
		</h1>
		<ion-list id="home-list5">
			<!-- This is the code required to add the color dot to the side of the Title
			<div *ngIf = "Events[0].Calendar == 'Warrior Athletics'">
				<font color="#80AFC8"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>  <h2>{{ Events[0].Summary }}</h2>
				<p>{{ Events[0].StartDate | date:'EEEE, MMMM d  H:mma' }}</p>
			</div>
			<div *ngIf = "Events[0].Calendar == 'Entertainment'">
				<font color="#d18787"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>  <h2>{{ Events[0].Summary }}</h2>
				<p>{{ Events[0].StartDate | date:'EEEE, MMMM d  H:mma' }}</p>
			</div>
			<div *ngIf = "Events[0].Calendar == 'Student Activities'">
				<font color="#F8C797"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>  <h2>{{ Events[0].Summary }}</h2>
				<p>{{ Events[0].StartDate | date:'EEEE, MMMM d  H:mma' }}</p>
			</div>
			<div *ngIf = "Events[0].Calendar == 'Residence Life'">
				<font color="#80E0E0"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>  <h2>{{ Events[0].Summary }}</h2>
				<p>{{ Events[0].StartDate | date:'EEEE, MMMM d  H:mma' }}</p>
			</div>
			<div *ngIf = "Events[0].Calendar == 'Campus Rec'">
				<font color="#8be0a6"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>  <h2>{{ Events[0].Summary }}</h2>
				<p>{{ Events[0].StartDate | date:'EEEE, MMMM d  H:mma' }}</p>
			</div>
			<div *ngIf = "Events[0].Calendar == 'Academics'">
				<font color="#ca96e0"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>  <h2>{{ Events[0].Summary }}</h2>
				<p>{{ Events[0].StartDate | date:'EEEE, MMMM d  H:mma' }}</p>
			</div>
			-->
			<ion-item on-click="goToCalendar()" id="home-list-item27" text-wrap>
				<h2>{{ Events[0].Summary }}</h2>
				<p>{{ Events[0].StartDate | date:'EEEE, MMMM d  H:mma' }}</p>
			</ion-item>
			<ion-item on-click="goToCalendar()" id="home-list-item28" text-wrap>
				<h2>{{ Events[1].Summary }}</h2>
				<p>{{ Events[1].StartDate | date:'EEEE, MMMM d  H:mma' }}</p>
			</ion-item>
			<ion-item on-click="goToCalendar()" id="home-list-item29" text-wrap>
				<h2>{{ Events[2].Summary }}</h2>
				<p>{{ Events[2].StartDate | date:'EEEE, MMMM d  H:mma' }}</p>
			</ion-item>
		</ion-list>
		<h1>
			News
		</h1>
		<ion-list id="home-list4">

			<div *ngIf = "news != null; else noNews"> <!-- Added for simulator testing avoiding errors -->
				<ion-item id="home-list-item24" on-click="goToNews()" text-wrap>
					<h2>{{ news['1']['title'] }}</h2>
				</ion-item>
				<ion-item id="home-list-item25" on-click="goToNews()" text-wrap>
					<h2>{{ news['2']['title'] }}</h2>
				</ion-item>
				<ion-item id="home-list-item26" on-click="goToNews()" text-wrapa>
					<h2>{{ news['3']['title'] }}</h2>
				</ion-item>
		</div>
		<ng-template #noNews>
			<ion-item id="home-list-item24" on-click="goToNews()" text-wrap>
				<h2></h2>
			</ion-item>
			<ion-item id="home-list-item25" on-click="goToNews()" text-wrap>
				<h2></h2>
			</ion-item>
			<ion-item id="home-list-item26" on-click="goToNews()" text-wrapa>
				<h2></h2>
			</ion-item>
		</ng-template>

		</ion-list>
	</div>

	<div id="home-resources">
		<h1 id="home-heading5" style="color:#E10000;">
			Resources
		</h1>
		<button class="button2" id="home-button3" href-inappbrowser="http://lcsc.blackboard.com">
			Blackboard
		</button>
		<button class="button2" id="home-button4" href-inappbrowser="http://lcmail.lcsc.edu">
			LCMail
		</button>
		<button class="button2" id="home-button5" href-inappbrowser="http://warriorweb.lcsc.edu">
			WarriorWeb
		</button>
	</div>
	<button class="button2" on-click="goToCalendar()">
		<ion-icon name="list-box"></ion-icon>
		View Events
	</button>
<br>
</ion-content>
