page-home {

    overflow: hidden;

   .addToCalendar {
		color: #000;
		font-size: 12pt;
	}

	.calendarIcon {
		margin-right: 5px;
    }

	.titleControl {
		margin: 5px;
	}

	.News{
		margin-bottom: 5px;
	}

  .item-content {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: -4px;
    margin-bottom: -4px;
    height: 0px;
  }

    #bg-img {
        width: 100%;
    }

    .banner {
        position: absolute;
        top: 0;
        width: 100%;
        margin-top: 14vh;
    }
    .interlock-Img {
        width:20px;
        height:25px;
    }
    ion-content {
    }

    #no-classes-header {
      color : #E10000;
      padding: 0px!important;
      maring: 5px;
      font-weight: bold;
    }

    #home-schedule {
      margin: -.6em 0 -.6em 0;
      padding: 0 .75em 0 .75em;
      padding-bottom: 1em;

      #item-top {
          margin-top: 0;
      }
      h1 {
        color: #E10000;
        padding: 0px!important;
        margin: 5px;
        font-weight: bold;
      }
      #class-name-header {
        color: #003865;
      }
      h2 {
        color: #003865;
        padding: 0px!important;
        margin: 5px;
        font-size: 11pt;
        font-weight: normal;
      }
      ion-list {
        margin-top: -0.2em;
        margin: 0;
        padding: 0;
        margin-bottom: 0.6em;
      }
      ion-item {
          padding: 0px!important;
          background-color: white;
      }
      button {
          width: 100%;
      }
    }

    #home-news {
        background-color: #F0F0F0;
        margin: -.6em 0 -.6em 0;
        padding: 0 .75em 0 .75em;
        padding-bottom: 1em;

        h1 {
            font-weight: 400;
            color: #E10000;
            padding-top: .3em;
        }

        ion-item {
            padding: 0px!important;
            background-color: #F0F0F0;
        }

        h2 {
            color: #003865;
            padding: 0px!important;
            margin: 5px;
            font-size: 11pt;
            font-weight: normal;
        }
        ion-list {
          margin-top: -0.2em;
          margin: 0;
          padding: 0;
          margin-bottom: 0.6em;
        }
		  .c-more-link{
			 color:#001222;
			 font-family:proxima-nova-i3,proxima-nova,Helvetica,Arial,sans-serif;
			 font-style:italic;
			 font-weight:300;
		  text-transform: lowercase;
	   }
	   .iconRed {
		 color: #e10000;
		 padding-left: .3em;
		 font-size: 8pt;
	   }
    }

    #home-calendar {
        background-color: white;
        margin: -.6em 0 -.6em 0;
        padding: 0 .75em 0 .75em;
        padding-bottom: 1em;

        h1 {
            font-weight: 400;
            color: #E10000;
            padding-top: .3em;
        }

        ion-item {
            background-color: white;
        }

        h2 {
            color: #003865;
            padding-bottom: .4em;
            font-size: 11pt;
            font-weight: normal;
        }

        ion-list {
            margin-bottom: -1.75em;
        }

        #home-list-item29 {
            margin-bottom: 2em;
        }

		  .c-more-link{
			 color:#001222;
			 font-family:proxima-nova-i3,proxima-nova,Helvetica,Arial,sans-serif;
			 font-style:italic;
			 font-weight:300;
		  	text-transform: lowercase;
	   }
	   .iconRed {
		 color: #e10000;
		 padding-left: .3em;
		 font-size: 8pt;
	   }

    }

    #home-academic {
        background-color: #F0F0F0;
        margin: -.6em 0 -.6em 0;
        padding: 0 .75em 0 .75em;
        padding-bottom: 1em;

        h1 {
            font-weight: 400;
            color: #E10000;
            padding-top: .3em;
        }

        ion-item {
            background-color: #F0F0F0;
        }

        h2 {
            color: #003865;
            padding-bottom: .4em;
            font-size: 11pt;
            font-weight: normal;
        }

        ion-list {
            margin-bottom: -1.75em;
        }

        #home-list-item29 {
            margin-bottom: 2em;
        }

        button {
            width: 100%;
        }
    }

    #home-resources {
        h1 {
            padding-left: .3em;
        }

        button {
            margin-bottom: .6em;
        }
    }
}
