<ion-menu [content]="mainContent">
	<ion-header>
		<ion-toolbar color="lcblue">
			<ion-title>
				Menu
			</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content id="side-menu21" class="menu-content">
		<ion-list id="menu-list1">
			<ion-item menuClose color="positive" (click)="goToHome()" id="menu-list-item1"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				Home
				<ion-icon name="home" item-right></ion-icon>
			</ion-item>

			<ion-item menuClose color="positive" (click)="goToLoginNoReuse()" id="menu-list-item2" *ngIf="isGuest()"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				Login
				<ion-icon name="person" item-right></ion-icon>
			</ion-item>

			<ion-item menuClose color="positive" (click)="logout()" id="menu-list-item2" *ngIf="isCredentialed()"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				Logout
				<ion-icon name="person" item-right></ion-icon>
			</ion-item>

			<ion-item menuClose color="positive" (click)="goToCalendar()" id="menu-list-item9"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				Events
				<ion-icon name="calendar" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToNews()" id="menu-list-item3"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				News
				<ion-icon name="notifications" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToCampusMap()" id="menu-list-item4"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				Campus Map
				<ion-icon name="pin" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToClassSchedule()" id="menu-list-item5" *ngIf="isCredentialed()"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				Class Schedule
				<ion-icon name="list-box" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToTutoring()" id="menu-list-item7"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
        Free Tutoring
        <ion-icon name="bookmark" item-right></ion-icon>
      </ion-item>
	  		<ion-item menuClose color="positive" (click)="goToBuildingHours()" id="menu-list-item8">
				Building Hours
				<ion-icon name="time" item-right></ion-icon>
			</ion-item>
			<ion-item menuClose color="positive" (click)="goToRadio()" id="menu-list-item8"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				Radio
				<ion-icon name="radio" item-right></ion-icon>
			</ion-item>
      <ion-item menuClose color="positive" id="menu-list-item12">
		<a><ion-icon name="logo-facebook" item-left (click)="openFacebook()"></ion-icon> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
		<ion-icon name="logo-twitter" item-left (click)="openBrowser('https://twitter.com/LCSC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor')"></ion-icon> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
		<ion-icon name="logo-instagram" item-left (click)="openBrowser('instagram://user?username=lewisclarkstate')"></ion-icon> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
		<ion-icon name="logo-snapchat" item-left (click)="openBrowser('https://www.snapchat.com/add/lewisclarkstate')"></ion-icon></a> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
	  </ion-item>
		</ion-list>
		<h3 id="menu-heading1" style="color:#E10000;font-weight:400;">
			Resources
		</h3>
		<ion-list id="menu-list2">
			<ion-item menuClose color="positive" (click)="openBrowser('http://lcsc.blackboard.com')" id="menu-list-item8"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				BlackBoard
			</ion-item>
			<ion-item menuClose color="positive" (click)="openBrowser('http://lcmail.lcsc.edu')" id="menu-list-item11"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				LCMail
			</ion-item>
			<ion-item menuClose color="positive" (click)="handleStudentPlanningOpen()" id="menu-list-item12"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				Student Planning
			</ion-item>
			<ion-item menuClose color="positive" (click)="openBrowser('http://www.lcwarriors.com')" id="menu-list-item9"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				Warrior Athletics
			</ion-item>
			<ion-item menuClose color="positive" (click)="openBrowser('http://www.lcsc.edu')" id="menu-list-item10"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				LCSC Website
			</ion-item>
			<ion-item menuClose color="positive" (click)="openBrowser('http://lcsc.college-tour.com/map.php')" id="menu-list-item11"> <!--Do NOT use (tap) the menu will not close properly USE (click) -->
				LCSC Virtual Map
			</ion-item>
		</ion-list>

	</ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>
