<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Calendar
		</ion-title>
		<button class="dropdownbutton" ion-button icon-only (click)="presentPopover($event)">
			<ion-icon style="color:#003865" name="ios-arrow-dropdown" align></ion-icon>
		</button>
		<style type="text/css">
		.dropdownbutton {
			background-color: #F8F8F8;
			position:relative ;
			float: right;
		}

		</style>
	</ion-navbar>
</ion-header>

<ion-content padding id="page6">
<style type="text/css">
h1 {
	font-weight: 550;
	background-color: #F8F8F8;
	border-bottom: ;
	color: #000;
	font-size: 15;
	padding: 10px;
	border: 3px;
}

.accordian {
	color: #003865;
	font-size: 14pt;
}

.accordian-firstitem{
	color: #000;
	font-weight: normal;
	font-size: 11pt;
}

</style>


<a *ngFor="let day of Days">
	<div *ngIf="(Events[day] | json) != ({times: []} | json)" >
		<h1 background-color="stable">{{ day*86400000 | date:'LLLL d'}}</h1>
		<div *ngFor="let time of Events[day]['times']">


			<ion-list>
				<div class="accordian" (click)="toggleGroup(time)" [ngClass]="{active: isGroupShown(time)}">

					<div *ngIf = "Events[day][time].Calendar == 'Warrior Athletics'">
						<font color="#ca96e0"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>   {{ Events[day][time].Summary }}
					</div>

					<div *ngIf = "Events[day][time].Calendar == 'Entertainment'">
						<font color="#d18787"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>   {{ Events[day][time].Summary }}
					</div>

					<div *ngIf = "Events[day][time].Calendar == 'Student Activities'">
						<font color="#F8C797"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>   {{ Events[day][time].Summary }}
					</div>

					<div *ngIf = "Events[day][time].Calendar == 'Residence Life'">
						<font color="#8be0a6"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>   {{ Events[day][time].Summary }}
					</div>

					<div *ngIf = "Events[day][time].Calendar == 'Campus Rec'">
						<font color="#80E0E0"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>   {{ Events[day][time].Summary }}
					</div>

					<div *ngIf = "Events[day][time].Calendar == 'Academics'">
						<font color="#80AFC8"><ion-icon name="ios-radio-button-on-outline"></ion-icon></font>   {{ Events[day][time].Summary }}
					</div>
				</div>
				<div *ngIf="isGroupShown(time)">
					<a href="{{Events[day][time].Link}}"><ion-icon item-right="" name="calendar" role="img" class="icon icon-ios ion-ios-calendar item-icon" aria-label="calendar" ng-reflect-name="calendar"></ion-icon></a>
					<font style="color:#194b74;font-size:11pt">{{ Events[day][time].LocalTime}}</font>
					<ion-item text-wrap background-color="stable">

						<div class="accordian-firstitem"><p [innerHTML]="Events[day][time].Description"></p></div><br />
						<div style="color:#000;font-size:11pt">{{Events[day][time].Location}}</div><br />&emsp;&emsp;&emsp;&emsp;&emsp;
					</ion-item>
				</div>
			</ion-list>





		</div>
	</div>
</a>



</ion-content>
