<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Calendar
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding id="page6">
	<a *ngFor="let day of Days">
		<div *ngIf="(Events[day] | json) != ({times: []} | json)">
			<h1 background-color="stable">{{ day*86400000 | date:'LLLL d'}}</h1>
			<div *ngFor="let time of Events[day]['times']">
				<ion-list>
					<ion-item text-wrap background-color="stable">
						Title: {{ Events[day][time].Summary }}
					</ion-item>
					<ion-item text-wrap background-color="stable">
						Description: <p [innerHTML]="Events[day][time].Description"></p>
					</ion-item>
				</ion-list>
				<br/><br/>
			</div>
		</div>
	</a>
</ion-content>
